CODIGO/WarlockSocial/WarlockSocial/Service References/WebService/WebServiceFase2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebServicefase/" targetNamespace="http://WebServicefase/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegistrarUsuario" type="tns:RegistrarUsuario" />
  <xs:element name="RegistrarUsuarioResponse" type="tns:RegistrarUsuarioResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="RegistrarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nickName" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_nac" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>